.nickname-row {
    width: 50%;
}

.author-form{
    padding-top: 30px;
    padding-bottom: 10px;
}

.article-form{
    padding-top: 10px;
}

.email-form{
    width: 60%;
}

.title-row{
    width: 100%;
}

.star-rating {
    border:solid 1px #ccc;
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
}

.star-rating :checked ~ label {
    color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.profile .table-properties th {
    font-weight: normal;
    width: 15rem;
}

.profile .table-properties td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile .table-properties tr:first-child td,
.profile .table-properties tr:first-child th {
    border-top: none !important;
}

.profile .img-lg {
    width: 9rem;
    height: 9rem;
}
