{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if articles is empty %}
            <h1>No results found!</h1>
        {% else %}
            <h2>Search results: </h2>
            <ul class="search-list">
            {% for article in articles %}
                <li>
                    <a href="{{ path('app_article_show', {id: article.Articleid()}) }}" style=" color: black; text-decoration: none">
                        <h3 class="search-result-title">
                            {{ article.getTitle()  }}
                        </h3>
                        <p>
                            {{ article.getContent()[:200]|striptags ~ ' ...' }}
                        </p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}